{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":74.44444274902344,"scrollleft":0,"selection":{"start":{"row":7,"column":12},"end":{"row":7,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":4,"state":"start","mode":"ace/mode/text"}},"timestamp":1574077522324,"hash":"1ea66a0c18695fdd626dbd366716c53174342077"}