<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Forex-Comix</title>
</head>

<body>

    <!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('learner') }}">Learner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('bookseller') }}">Bookseller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('school') }}">School</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('database') }}">Database</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('addcomic') }}">Add Comic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
            </ul>
        </div>
    </nav>


    <!--Page Header-->

    <header>
        <div class="jumbotron" style="background-image: url('https://static.wixstatic.com/media/9a9a38_f3f2b69e0f21490abdf4a212a75a5c34~mv2_d_3000_2000_s_2.jpg/v1/fill/w_640,h_484,al_c,q_80,usm_0.66_1.00_0.01/9a9a38_f3f2b69e0f21490abdf4a212a75a5c34~mv2_d_3000_2000_s_2.webp')">
            <div class="container" style="background: white">
                <h1 class="display-3">Forex-Comix</h1>
                <p class="lead">New and used foreign comics for language exchange</p>
            </div>
        </div>
    </header>



    <!--Main Container-->

    <div class="container-fluid">

        {% block content %} {% endblock %}

    </div>

    <!--Footer-->

    <div class="container-fluid footer footer-dark bg-dark">
        <footer="container">
            <div class="row">
                <div class="col-sm-4 foot-col">
                    <h6>Connect</h6>
                    <a href="https://www.facebook.com/aidanjreidauthor/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="http://www.twitter.com/aidanjreid" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="https://www.linkedin.com/in/aidanreid/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                </div>
                <div class="col-sm-4 foot-col">
                    <h6>Hands off!</h6>
                    <p>Copyright Aidan J. Reid 2019</p>
                </div>
            </div>
            </footer>
    </div>

    <!--Custom Scripts-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();

        });
    </script>

</body>

</html>
