{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <h2>{{ page_title }}</h2>

                    <p>Welcome!</p>

                    <p>We love comics. We love language learning.</p>
                    
                    <p>We think foreign language comics are one of the best ways to achieve this aim.</p>
                    
                    <p>There is a surprisingly small number of foreign language comics in Dublin. For such a multicultural city, 
                    the options for language learners, especially for beginners, are typically children's books or novels which are often too advanced.</p>
                    
                    <p>We want to connect your comic books to an audience who will read widely and often.</p>

                </div>
                <div class="col m4">
                    <img src="" alt="school">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>Membership Benefits</h2>
                    <ul class="browser-default">
                        <li>
                            <p>Drive readers to your physical or digital store by adding your comic books inventory to our database.</p>
                        </li>
                        <li>
                            <p>Clear storage space and get rid of unwanted stock.</p>
                        </li>
                        <li>
                            <p>We would inform language learners about your new stock via our <b>monthly</b> newsletter</p>
                        </li>
                        <li>
                            <p>Pay a flat monthly fee <i>even if we refer hundreds of customers to your store!</i></p>
                        </li>
                        <li>
                            <p>Cross-sell and upsell opportunities*. Once readers visit your stote, showcase higher margin items for purchase.</p>
                        </li>
                        <li>
                            <p>Build store credit against the monthly cost, by offloading comics to us.</p>
                        </li>
                        <li>
                            <p>Our social channels will promote and highlight special offers/discounts of comics at your store.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
