{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col m4">
        {% for comic in DBComix %}
            <img src="{{ comic.image_source }}" style="width:250px;height:350px" alt="Comic Detail for {{ comic.title }}" />
        </div>
        <div class="col m8">
            <h2>{{ comic.title }}</h2>
            <p>{{ comic.description }}</p>
            <p>{{ comic.genre }}</p>
            <p>{{ comic.owner }}</p>
            <p>{{ comic.added_date }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
