{% extends 'base.html' %} {% block content %}

<div class="container">
    <h2 class="center-align">Search {{ page_title }}</h2>
    <!--Filter instructions-->
    <p class="center-align">You can search our existing catalogue of comics for language or genre using the relevant filter toggle.</p>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i>Comic Get 'Em</div>
                    <div class="collapsible-body">
                        <form action = "{{ url_for('database')}}" id="filter_form" method="POST">
                            <div class="row">
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">language</i>
                                    <select id="language" name="language">  
                                    <option value="" disabled selected>Comic Language</option>
                                    {% for language in languages %}
                                        <option value="{{ language.language }}">{{ language.language }}</option>
                                    {% endfor %}
                                </select>
                                    <label for="language">Language</label>
                                </div>
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">palette</i>
                                    <select id="filter_genre" name="filter_genre" class="form-control validate">
                                        <option value="" disabled selected>Filter Genre</option>
                                        <!--Pass through genres prompting a selection from the drop down menu-->
                                        {% for genre in genres %}
                                        <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                                    {% endfor %}
                                    </select>
                                    <label for="genre">Genre</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m6 center-align">
                                    <a class="waves-effect waves-light btn-large blue" type="submit" href="{{url_for('database')}}">Find Comic</a>
                                </div>
                                <div class="col s12 m6 center-align">
                                    <a class="waves-effect waves-light btn-large indigo" type="submit" href="{{ url_for('database') }}">Reset Search</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<div class="container" id="comics">
    <h4 class="center-align">Showing Selected Comics</h4>
    <hr class="hr-sections">
</div>
<div class="container">
    <div class="row">

        {% for comic in DBComix %}

        <div class="col s12 m4">
            <div class="card large sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ comic.image_source }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ comic.title }}<i class="material-icons right">more_vert</i></span>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small btn red left" type="submit" href="{{url_for('get_comic', DBComix_id=comic._id)}}">View</a>
                        <a class="waves-effect waves-light btn-small btn blue right" type="submit" href="{{url_for('edit_comic', DBComix_id=comic._id)}}">Edit</a>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ comic.language }}<i class="material-icons right">close</i></span>
                    <h5>{{ comic.title }}</h5>
                    <hr>
                    <ul>
                        <li><i class="tiny material-icons prefix">language</i> Language: {{ comic.language }}</li>
                        <li><i class="tiny material-icons prefix">palette</i> Genre: {{ comic.genre }}</li>
                        <li><i class="tiny material-icons prefix">terrain</i> Difficulty: {{ comic.difficulty }}</li>
                        <li><i class="tiny material-icons prefix">exposure</i> Condition: {{ comic.condition }}</li>
                        <li><i class="tiny material-icons prefix">face</i> Character: {{ comic.character }}</li>
                    </ul>
                    <p class="truncate"><i class="tiny material-icons prefix">description</i>{{ comic.description }}</p>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
