{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="container row">
        <div class="col s12">
            <h2>{{ page_title }}</h2>
        </div>
    </div>
    <div class="container row">
        <div class="col s12">
            <form action="{{ url_for('update_comic', DBComix_id=comic._id) }}" method="POST">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <select id="language" name="language">  
                                    <option value="" disabled selected>Comic Language</option>
                                    {% for language in languages %}
                                        {% if comic.language == language.language %}
                                        <option value="{{ comic.language }}" selected >{{ comic.language }}</option>
                                        {% else %}
                                        <option value="{{ language.language }}">{{ language.language }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                        <label for="language">Language</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="title" name="title" type="text" class="validate" value="{{comic.title}}">
                        <label for="title"> Comic Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <select id="genre" name="genre">
                                    <option value="" disabled selected>Genre</option>
                                    {% for genre in genres %}
                                        {% if comic.genre == genre.genre %}
                                        <option value="{{ comic.genre }}" selected >{{ comic.genre }}</option>
                                        {% else %}
                                        <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                        <label for="genre">Genre</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="character" type="text" name="character" class="validate" value="{{comic.character}}">
                        <label for="character"> Main Character</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <select id="difficulty" name="difficulty">
                                    <option value="" disabled selected>Language Difficulty</option>
                                     {% for difficulty in difficulty %}
                                        {% if difficulty.difficulty == difficulty.difficulty %}
                                        <option value="{{ difficulty.difficulty }}" selected >{{ difficulty.difficulty }}</option>
                                        {% else %}
                                        <option value="{{ difficulty.difficulty }}">{{ difficulty.difficulty }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                        <label for="difficulty">Difficulty</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="image_source" name="image_source" type="text" class="validate" value="{{comic.image_source}}">
                        <label for="image_source"> Comic Cover Link</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="material-icons prefix">account_circle</i>
                        <select id="condition" name="condition">
                                    <option value="" disabled selected>Choose Condition</option>
                                    {% for condition in condition %}
                                        {% if condition.condition == condition.condition %}
                                        <option value="{{ condition.condition }}" selected >{{ condition.condition }}</option>
                                        {% else %}
                                        <option value="{{ condition.condition }}">{{ condition.condition }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                        <label for="condition">Comic Condition</label>
                    </div>
                    <div class="switch col s12 m6">
                        <label>
                            {% if comic.is_owner %}
                                <input id="is_owner" name="is_owner" type="checkbox" checked>
                            {% else %}
                                <input id="is_owner" name="is_owner" type="checkbox">
                            {% endif %}    
                                <span class="lever"></span>
                                Owned by Individual
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <textarea name="description" id="description" class="materialize-textarea">{{comic.description}}</textarea>
                        <label for="description">Comic Description</label>
                    </div>
                </div>
                <div class="row">
                    <button class="waves-effect waves-light btn-large red" name="action" type="submit">Edit Comic!</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
