{% extends 'base.html' %} {% block content %}

<div class="container-fluid" id="body-bg">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="left-align">What is Forex Comix?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 left-align">
                <p>Language learning is big business. Most students quickly tire of rote grammar books and vocab lists.</p>

                <p>Our aim is to make language learning fun, and educational. <i>Impossible?</i> We don't think so.</p>

                <p>Graphic novels and comic books are a wonderful way to learn a language - using rich images and conversational styles to entertain children and adults alike.</p>

                <p>So whether you pine for some <b>Tintin</b> in the original French, or <b>The Walking Dead</b> in Spanish, <b>Forex-Comix</b> provide a platform to enable exchange with other like-minded comic book fans of your target language.</p>
            </div>
            <div class="col m3">
                <img class="responsive-img" src="static/assets/images/background/zap.png" alt="comic-image">
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="static/assets/images/background/bookshelf.jpg" alt="comic-image"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col m3">
            </div>
            <div class="col s12 m9 center-align">
                <h2>How Does It Work?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col m3">
                <img class="responsive-img" src="static/assets/images/background/pow.png" alt="comic-image">
            </div>
            <div class="col s12 m9 center-align">
                <p>To participate in an exchange, you should have something to offer. <em>Duh!</em></p>

                <p><em>Example:</em> I want to learn latin Spanish. I have a few old-school English <b>Marvel</b> comics (The Avengers) that are gathering dust in the attic. Simply, 'Add' the comic to our database. Here you can also see what comics are available
                    in your chosen language.</p>

                <p>You can exchange comics directly with the owner of the comic of your choice at our monthly networking meetups - also a chance to practice your language skills!).</p>

                <p><em>Couldn't be easier!</em></p>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="https://images.unsplash.com/photo-1558507334-57300f59f0bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="superman-image"></div>
    </div>

    <div class="container">
        <h2 class="center-align">Ready to start?</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card small card-panel teal valign-wrapper">
                    <div class="container" id="learner">
                        <h3>Learner</h3>
                        <p>Yes, I really want to improve my language skills!</p>
                        <p>let me see more!</p>
                        <div id="button">
                            <a href="{{ url_for('learner') }}" type="button" class="waves-effect waves-light btn pulse">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card small card-panel yellow valign-wrapper">
                    <div class="container" id="school">
                        <h3>School</h3>
                        <p>Yes, I can see how this would benefit our language students</p>
                        <p>How would it work?</p>
                        <div id="button">
                            <a href="{{ url_for('school') }}" type="button" class="waves-effect waves-light btn pulse">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="card small card-panel red valign-wrapper">
                    <div class="container" id="bookseller">
                        <h3>Bookseller</h3>
                        <p>Yes, I have lots of stock I would like to sell!</p>
                        <p>How can I find more buyers?</p>
                        <div id="button">
                            <a href="{{ url_for('bookseller') }}" type="button" class="waves-effect waves-light btn pulse">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
