{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{ page_title }}</h2>

                <p>Bored with course materials? Keen to learn a language faster and in a fun way?</p>

                <p>Want to meet and practice speaking your target language with native speakers?</p>

                <p><b>Forex-Comix</b> provide a platform to enable you to do all the above.</p>

                <p>The best part? <i>It doesn't cost a single cent.</i></p>

                <p>Whether you enjoy learning in your own private time, or want to socialise with others through our meetups, we have your needs covered. Simply register today to be alerted about meetings in your area, or check our database to see what's
                    available and <em>make comics great again!</em></p>

                <a class="waves-effect waves-light btn-large red" href="{{ url_for('database') }}">Register</a>
                <a class="waves-effect waves-light btn-large blue" href="{{ url_for('database') }}">View Comic Database</a>

            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="static/assets/images/background/marvel.jpg" alt="superman-image"></div>
    </div>

    <div class="container" id="diary">
        <div class="row">
            <h2>Exchange Meetups</h2>
        </div>
        <div class="row">
            <div class="col m6">
                <p>These monthly meetings provide a wonderful opportunity for comic-book afficionado's, and language learners to exchange comics, and converse in other languages</p>

                <p>Social, casual and sharing a love for the written word, they take place in cafes around Dublin</p>

                <p>It's also a great oppourtunity to make new friends.</p>

                <p>On top of that, they're <b>FREE</b> to attend!</p>

                <p>It's also a great oppourtunity to make new friends.</p>

                <p><em>Couldn't be easier!</em></p>
            </div>
            <div class="col s12 m6">
                <img src="" alt="diary">
            </div>
        </div>
    </div>
</div>

{% endblock %}
