{% extends 'base.html' %}
{% block content %}

    </header>
    <div class="container-fluid">
        <div class="container bio" id="what">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h2>Welcome!</h2>

                    <p>Bored with course materials?</p>

                    <p>Keen to learn a language faster and in a fun way?</p>

                    <p>Want to meet and practice speaking your target language with native speakers?</p>

                    <p><b>Forex-Comix</b> provide a platform to enable you to do all the above.</p>

                    <p>The best part? <i>It doesn't cost a single cent.</i></p>

                    <p>Whether you enjoy learning in your own private time, or want to socialise with others through our meetups, we have your needs covered.</p>

                    <p>Simply register today to be alerted about meetings in your area, access our database to see what's available and <i>make comics great again!</i></p>

                    <div id="button">
                        <a href="./login.html" type="button" class="btn btn-danger">Register now</a>
                    </div>

                </div>
                <div class="d-none d-md-block col-md-4 stand">
                </div>
            </div>
        </div>
        <div class="container" id="diary">
            <div class="row">
                <div class="d-none d-md-block col-md-6">
                    <h2>Exchange Meetups</h2>
                    <p>These monthly meetings provide a wonderful opportunity for comic-book afficionado's, and language learners to exchangecomics, and converse in other languages</p>

                    <p>Social, casual and sharing a love for the written word, they take place in cafes around Dublin</p>

                    <p>It's also a great oppourtunity to make new friends.</p>

                    <p>On top of that, they're <b>FREE</b> to attend!</p>

                    <p>It's also a great oppourtunity to make new friends.</p>

                    <p><em>Couldn't be easier!</em></p>
                </div>
                <div class="col-xs-12 col-md-6 stand">

                </div>
            </div>
        </div>
        <div class="container nl" id="nl">
            <div class="jumbotron scroll text-left">
                <div class="row">
                    <div class="jumbotron col">
                        <h1>Register for free today!</h1>
                        <a href="./login.html" type="button" class="btn btn-danger btn-md" id="subscribe" target="_blank">Hit Me!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

{% endblock %}

</html>
