{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>{{ page_title }}</h2>

                <p>Bored with course materials? Keen to learn a language faster and in a fun way?</p>

                <p>Want to meet and practice speaking your target language with native speakers?</p>

                <p><b>Forex-Comix</b> provide a platform to enable you to do all the above.</p>

                <p>The best part? <i>It doesn't cost a single cent.</i></p>

                <p>Whether you enjoy learning in your own private time, or want to socialise with others through our meetups, we have your needs covered. Check out our database to see what's
                    available and <em>make comics great again!</em></p>

                <a class="waves-effect waves-light btn-large blue" href="{{ url_for('database') }}">View Comic Database</a>

            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="static/assets/images/marvel.jpg" alt="comics-image"></div>
    </div>

    <div class="container" id="diary">
        <div class="row">
            <h2>Exchange Meetups</h2>
        </div>
        <div class="row">
            <div class="col m6">
                <p>These monthly meetings provide a wonderful opportunity for comic-book afficionado's, and language learners to exchange comics, and converse in other languages</p>

                <p>Social, casual and sharing a love for the written word, they take place in cafes around Dublin</p>

                <p>It's also a great oppourtunity to make new friends.</p>

                <p>On top of that, they're <b>FREE</b> to attend!</p>

                <p>It's also a great oppourtunity to make new friends.</p>

                <p><em>Couldn't be easier!</em></p>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://i.pinimg.com/originals/50/8d/2c/508d2cf765b887b399e76b7717ced9a3.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Event Calendar<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Event Calendar<i class="material-icons right">close</i></span>
                        <p>Feature to be enabled in January 2020</p>
                        <hr>
                        <p>Watch this space!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
