{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid" id="body-bg">
        <div class="container bio" id="what">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <h2>Schools</h2>

                    <p>Welcome!</p>

                    <p>Our goal at Forex-Comix is to make language learning fun. We strongly believe that a student's progress can be accelerated when exposed to the diverse range of illustrated comics, books and graphic novels.</p>

                    <p>Given the public's appetite for superhero movies, the box office success of the Avengers and other movies, interest in comics has never been greater for both adults and children.</p>

                    <p>Our comic database is the ideal resource to complement your course material in a fun and challenging way.</p>

                </div>
                <div class="d-none d-md-block col-md-4 blackwhite">
                </div>
            </div>
        </div>
        <div class="container" id="diary">
            <div class="row">
                <div class="d-none d-md-block col">
                    <h2>Membership Benefits</h2>
                    <ul>
                        <li>
                            <p>10 comics delivered _every month_ directly to your school/college</p>
                        </li>
                        <li>
                            <p>Keep the comic if you want! Or send them back (SAE included) and <b>we offer credit</b> against your next comic purchases.</p>
                        </li>
                        <li>
                            <p>You choose from our catalogue the language, and desired profile, e.g. children, adults</p>
                        </li>
                        <li>
                            <p>Excellent condition and in paperback. Our research shows that students are less likely to engage with electronic comics versus the real thing. <i>Nothing quite beats the feel of a real comic!</i></p>
                        </li>
                        <li>
                            <p>Give students a break from the textbooks and introduce a pleasure outlet for their creative mind to explore.</p>
                        </li>
                        <li>
                            <p><b>Increase retention</b> of your language students by increasing their enjoyment of language learning.</p>
                        </li>
                        <li>
                            <p>Use the comics and content to explore new themes and discussion with your students.</p>
                        </li>
                        <li>
                            <p>Tap into the comic book network to find new students.
                                <b>What is the value of a new signup up to your language course?</b></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container nl" id="reg">
            <div class="jumbotron scroll text-left">
                <div class="row">
                    <div class="jumbotron col">
                        <h1>Got Your Interest?</h1>
                        <a href="./login.html" type="button" class="btn btn-danger btn-md" id="subscribe" target="_blank">Sign Up Here</a>
                        <p>Choose your comics and receive your first batch within 14 days!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}

</html>
